node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
dist/
build/
*.tsbuildinfo
.env
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.DS_Store
Thumbs.db
tmp/
temp/
*.tmp